##
- Leaflet 
- Open street map

In [65]:
#!pip install folium 
import pandas as pd 
from multiprocessing.dummy import Pool
import guppy

In [90]:
## Loading the data 
import geojson

Requirement already satisfied: geojson in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (2.5.0)

In [ ]:
##pool = Pool()
##results = pool.imap(route, iterable)
###

In [67]:
h = guppy.hpy()
print(h.heap())

Partition of a set of 770942 objects. Total size = 976175174 bytes.
 Index  Count   %     Size   % Cumulative  % Kind (class / dict of class)
     0      4   0 749068251  77 749068251  77 pandas.core.frame.DataFrame
     1    102   0 128563238  13 877631489  90 numpy.ndarray
     2 300296  39 30209457   3 907840946  93 str
     3 137835  18 11063512   1 918904458  94 tuple
     4      1   0 10485784   1 929390242  95 pandas._libs.index.Int64Engine
     5      2   0  5142208   1 934532450  96 pandas.core.series.Series
     6  59690   8  4604414   0 939136864  96 bytes
     7  30301   4  4387456   0 943524320  97 types.CodeType
     8  22242   3  3909776   0 947434096  97 list
     9  27878   4  3791408   0 951225504  97 function
<1399 more rows. Type e.g. '_.more' to view.>

In [118]:
#Load Value data 
electric_comsumption = pd.read_csv('../LSOA_domestic_electricity_2017.csv')

In [119]:
electric_comsumption.head(3)

,Local Authority Name,Local Authority Code,Middle Layer Super Output Area (MSOA) Name,Middle Layer Super Output Area (MSOA) Code,Lower Layer Super Output Area (LSOA) Name,Lower Layer Super Output Area (LSOA) Code,Total domestic electricity consumption (kWh),Total number of domestic electricity meters,Mean domestic electricity consumption (kWh per meter),Median domestic electricity consumption (kWh per meter)
0,City of London,E09000001,City of London 001,E02000001,City of London 001A,E01000001,4332368.3,1055,4106.510237,3409.4
1,City of London,E09000001,City of London 001,E02000001,City of London 001B,E01000002,4373703.0,1155,3786.755844,3095.2
2,City of London,E09000001,City of London 001,E02000001,City of London 001C,E01000003,3168855.2,1180,2685.470509,1995.2

In [49]:
#Load location data 
dt = pd.read_csv('data_folium/LondonPostcodes.csv')

# Quick process 
col =['Postcode','Latitude','Longitude','County','District','Parish','London zone']
location_data = dt[dt['In Use?'] == 'Yes'][col]
location_data.head(3)

,Postcode,Latitude,Longitude,County,District,Parish,London zone
0,BR1 1AA,51.401546,0.015415,Greater London,Bromley,"Bromley, unparished area",5
1,BR1 1AB,51.406333,0.015208,Greater London,Bromley,"Bromley, unparished area",4
3,BR1 1AE,51.404543,0.014195,Greater London,Bromley,"Bromley, unparished area",4

In [111]:
#index data 
col = ['Lower layer super output area',
       'District Code',
       'LSOA Code',
       'Postcode']
index_data = dt[dt['In Use?'] == 'Yes'][col]
index_data.head(3)

  Lower layer super output area District Code  LSOA Code Postcode
0                  Bromley 018B     E09000006  E01000675  BR1 1AA
1                  Bromley 008B     E09000006  E01000676  BR1 1AB
3                  Bromley 018C     E09000006  E01000677  BR1 1AE

In [117]:
index_data[index_data['LSOA Code'] == 'E01000002']

      Lower layer super output area District Code  LSOA Code  Postcode
60132           City of London 001B     E09000001  E01000002  EC1Y 4AG
60134           City of London 001B     E09000001  E01000002  EC1Y 4SA
60196           City of London 001B     E09000001  E01000002  EC1Y 8AA
62561           City of London 001B     E09000001  E01000002  EC2P 2NQ
63080           City of London 001B     E09000001  E01000002  EC2V 5AF
63121           City of London 001B     E09000001  E01000002  EC2V 5DZ
63262           City of London 001B     E09000001  E01000002  EC2V 7AD
63263           City of London 001B     E09000001  E01000002  EC2V 7AE
63264           City of London 001B     E09000001  E01000002  EC2V 7AF
63267           City of London 001B     E09000001  E01000002  EC2V 7AJ
63268           City of London 001B     E09000001  E01000002  EC2V 7AL
63269           City of London 001B     E09000001  E01000002  EC2V 7AN
63276           City of London 001B     E09000001  E01000002  EC2V 7AW
63279           City of London 001B     E09000001  E01000002  EC2V 7AZ
63288           City of London 001B     E09000001  E01000002  EC2V 7BP
63294           City of London 001B     E09000001  E01000002  EC2V 7DA
63297           City of London 001B     E09000001  E01000002  EC2V 7DE
63311           City of London 001B     E09000001  E01000002  EC2V 7EH
63313           City of London 001B     E09000001  E01000002  EC2V 7EL
63317           City of London 001B     E09000001  E01000002  EC2V 7ER
63321           City of London 001B     E09000001  E01000002  EC2V 7EX
63329           City of London 001B     E09000001  E01000002  EC2V 7HH
63335           City of London 001B     E09000001  E01000002  EC2V 7HR
63340           City of London 001B     E09000001  E01000002  EC2V 7HY
63342           City of London 001B     E09000001  E01000002  EC2V 7JB
63343           City of London 001B     E09000001  E01000002  EC2V 7JD
63344           City of London 001B     E09000001  E01000002  EC2V 7JE
63347           City of London 001B     E09000001  E01000002  EC2V 7JN
63349           City of London 001B     E09000001  E01000002  EC2V 7JQ
63379           City of London 001B     E09000001  E01000002  EC2V 7NQ
...                             ...           ...        ...       ...
63637           City of London 001B     E09000001  E01000002  EC2Y 8BB
63638           City of London 001B     E09000001  E01000002  EC2Y 8BD
63639           City of London 001B     E09000001  E01000002  EC2Y 8BE
63640           City of London 001B     E09000001  E01000002  EC2Y 8BH
63641           City of London 001B     E09000001  E01000002  EC2Y 8BJ
63642           City of London 001B     E09000001  E01000002  EC2Y 8BL
63643           City of London 001B     E09000001  E01000002  EC2Y 8BN
63652           City of London 001B     E09000001  E01000002  EC2Y 8DA
63654           City of London 001B     E09000001  E01000002  EC2Y 8DD
63663           City of London 001B     E09000001  E01000002  EC2Y 8DS
63664           City of London 001B     E09000001  E01000002  EC2Y 8DT
63665           City of London 001B     E09000001  E01000002  EC2Y 8DU
63666           City of London 001B     E09000001  E01000002  EC2Y 8DX
63676           City of London 001B     E09000001  E01000002  EC2Y 8HD
63681           City of London 001B     E09000001  E01000002  EC2Y 8HQ
63693           City of London 001B     E09000001  E01000002  EC2Y 8NB
63742           City of London 001B     E09000001  E01000002  EC2Y 9AE
63743           City of London 001B     E09000001  E01000002  EC2Y 9AG
63746           City of London 001B     E09000001  E01000002  EC2Y 9AL
63748           City of London 001B     E09000001  E01000002  EC2Y 9AP
63754           City of London 001B     E09000001  E01000002  EC2Y 9AW
63757           City of London 001B     E09000001  E01000002  EC2Y 9AZ
63758           City of London 001B     E09000001  E01000002  EC2Y 9BA
63759           City of London 001B     E09000001  E01000002  EC2Y 9BB
63762           City of London 001B     E09000001  E01000002  EC2Y 9BH
63778           City of London 001B     E09000001  E01000002  EC2Y 9DP
63782           City of London 001B     E09000001  E01000002  EC2Y 9DT
63798           City of London 001B     E09000001  E01000002  EC2Y 9HR
63814           City of London 001B     E09000001  E01000002  EC2Y 9SS
63815           City of London 001B     E09000001  E01000002  EC2Y 9ST

[87 rows x 4 columns]

In [ ]:
# Lower layer super output area == district code == lsoa code ==> several postcode

In [114]:
index_data[index_data['Lower layer super output area'] == 'City of London 001C']

      Lower layer super output area District Code  LSOA Code  Postcode
57393           City of London 001C     E09000001  E01000003  EC1M 7AA
59953           City of London 001C     E09000001  E01000003  EC1Y 0RB
59954           City of London 001C     E09000001  E01000003  EC1Y 0RD
59955           City of London 001C     E09000001  E01000003  EC1Y 0RE
59956           City of London 001C     E09000001  E01000003  EC1Y 0RH
59957           City of London 001C     E09000001  E01000003  EC1Y 0RJ
59958           City of London 001C     E09000001  E01000003  EC1Y 0RL
59959           City of London 001C     E09000001  E01000003  EC1Y 0RN
59961           City of London 001C     E09000001  E01000003  EC1Y 0RQ
59962           City of London 001C     E09000001  E01000003  EC1Y 0RR
59968           City of London 001C     E09000001  E01000003  EC1Y 0SA
59974           City of London 001C     E09000001  E01000003  EC1Y 0SH
59975           City of London 001C     E09000001  E01000003  EC1Y 0SJ
59976           City of London 001C     E09000001  E01000003  EC1Y 0SL
59977           City of London 001C     E09000001  E01000003  EC1Y 0SN
59979           City of London 001C     E09000001  E01000003  EC1Y 0SQ
59982           City of London 001C     E09000001  E01000003  EC1Y 0ST
59983           City of London 001C     E09000001  E01000003  EC1Y 0SU
59996           City of London 001C     E09000001  E01000003  EC1Y 0TN
59997           City of London 001C     E09000001  E01000003  EC1Y 0TP
59999           City of London 001C     E09000001  E01000003  EC1Y 0TR
63620           City of London 001C     E09000001  E01000003  EC2Y 8AD
63622           City of London 001C     E09000001  E01000003  EC2Y 8AF
63623           City of London 001C     E09000001  E01000003  EC2Y 8AG
63624           City of London 001C     E09000001  E01000003  EC2Y 8AH
63655           City of London 001C     E09000001  E01000003  EC2Y 8DE
63656           City of London 001C     E09000001  E01000003  EC2Y 8DH
63658           City of London 001C     E09000001  E01000003  EC2Y 8DL
63661           City of London 001C     E09000001  E01000003  EC2Y 8DQ
63667           City of London 001C     E09000001  E01000003  EC2Y 8DY
63696           City of London 001C     E09000001  E01000003  EC2Y 8NH
63700           City of London 001C     E09000001  E01000003  EC2Y 8NQ
63709           City of London 001C     E09000001  E01000003  EC2Y 8PQ

In [110]:
col = ['Postcode',
       'Population',
       'Households',
       'Index of Multiple Deprivation',
       'Quality']

value_data = dt[dt['In Use?'] == 'Yes'][col]
value_data.head(3)

  Postcode  Population  Households  Index of Multiple Deprivation  Quality
0  BR1 1AA         NaN         NaN                          20532        1
1  BR1 1AB         NaN         NaN                          10169        1
3  BR1 1AE        34.0        21.0                          19350        1

In [104]:
dt.columns

Index(['Postcode', 'In Use?', 'Latitude', 'Longitude', 'Easting', 'Northing',
       'Grid Ref', 'County', 'District', 'Ward', 'District Code', 'Ward Code',
       'Country', 'County Code', 'Constituency', 'Introduced', 'Terminated',
       'Parish', 'National Park', 'Population', 'Households', 'Built up area',
       'Built up sub-division', 'Lower layer super output area', 'Rural/urban',
       'Region', 'Altitude', 'London zone', 'LSOA Code', 'Local authority',
       'MSOA Code', 'Middle layer super output area', 'Parish Code',
       'Census output area', 'Constituency Code',
       'Index of Multiple Deprivation', 'Quality', 'User Type', 'Last updated',
       'Nearest station', 'Distance to station', 'Postcode area',
       'Postcode district', 'Police force', 'Water company', 'Plus Code'],
      dtype='object')

https://geoportal.statistics.gov.uk/datasets/lower-layer-super-output-areas-december-2011-boundaries-ew-bfc/data


https://geoportal.statistics.gov.uk/datasets/lower-layer-super-output-areas-december-2011-names-and-codes-in-england-and-wales/data

In [15]:
#import geopandas
#import geoplot

In [16]:
# pip install geopy

In [37]:
from geopy.geocoders import Nominatim
import certifi
import urllib
import folium 

###
def uo(args, **kwargs):
    return urllib.request.urlopen(args, cafile=certifi.where(), **kwargs)

In [70]:
url = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data'
state_geo = f'{url}/us-states.json'
state_unemployment = f'{url}/US_Unemployment_Oct2012.csv'
#state_data = pd.read_csv(state_unemployment)

In [33]:
geolocator = Nominatim(user_agent='london_loc')
geolocator.urlopen = uo

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.

In [43]:
location = geolocator.geocode('Bexley')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.

In [44]:
print('latitude ==> {}'.format(location.latitude))
print('longitude ==> {}'.format(location.longitude))

latitude ==> 39.9692378
longitude ==> -82.936864

0.015415

In [57]:
## 
sample['Latitude'].loc[0]
sample['Longitude'].loc[0]

51.401546

In [87]:
#55.3781° N, 3.4360° W
map_0 = folium.Map(location=[ 53.5500,  2.4333], 
                   title = 'cartodbpositron',
                   zoom_start=5)
map_0

In [71]:
map1 = folium.Map(
    location=[sample['Latitude'].loc[0],sample['Longitude'].loc[0]],
    tiles='cartodbpositron',
    zoom_start=3,
)
#df.apply(lambda row:folium.CircleMarker(location=[row["latitude"], row["longitude"]]).add_to(map1), axis=1)
map1